$colortext: #F16D7F
$bgcolor: #222222    
* 
    margin: 0
    padding: 0
a
    text-decoration: none   
.center
    padding-left: calc( 50% - 570px )  
    padding-right: calc( 50% - 570px )  
.header
    height: 75px
    background: $bgcolor 
    display: flex
    justify-content: space-between
    align-items: center
.header__left
    display: flex
    align-items: center
    gap: 40px
.header_right
    display: flex
    align-items: center
    gap: 32px   
.top 
    display: flex
    padding-left: calc( 50% - 800px )
    padding-right: calc( 50% - 800px )
    background-color: #F1E4E6